<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Piano Led Visualizer</title>

    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    <div id="led-color-config-wrapper">
      <h1 class="title">Choose led color</h1>
      <div id="picker"></div>
    </div>

    <div id="midi-config-wrapper">
      <div id="midi-device-selector-wrapper">
        <h1 class="title">Select midi device</h1>
        <select id="midi-device-selector"></select>
      </div>

      <div id="midi-listen-wrapper">
        <button id="btn-listen-midi">
          Start to listen midi device
        </button>

        <button id="btn-record-midi">
          Record midi
        </button>
      </div>
    </div>

    <div id="strip-config-wrapper">
      <div id="strip-controller-selector-wrapper">
        <h1 class="title">Select strip controller</h1>
        <select id="strip-controller-selector"></select>
      </div>

      <div id="strip-connect-wrapper">
        <button id="btn-connect-strip">
          Connect to led strip
        </button>
      </div>
    </div>

    <script src="../../../node_modules/@jaames/iro/dist/iro.min.js"></script>
    <script src="../js/renderer.js"></script>
  </body>
</html>